@font-face {
    font-family: Pacfont;
    src: url(Pacfont-ZEBZ.ttf);
 }
  

button {
    border: none;
    appearance: none;
    outline: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 48px 12px 48px;
    border-radius: 4px;
    color: yellow;
    background-color:blue;
    border: 2px solid ;
    font-family: "Pacfont", sans-serif ;
    align-items:center;
    
}
 button { transition-duration: 0.4s; }
button:hover {
    font-size: 1.6em;
    background-color: red;
    
}
h1{
 font-size: 60px;
 color: red;
 text-align: center;
 font-family: "Pacfont", sans-serif ;
}

h2{
font-size: 40px;
text-align: center;
font-family: "Pacfont", sans-serif ;
margin-top: 70px;
}

.neonText {
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 42px yellow,
    0 0 82px yellow,
    0 0 92px yellow,
    0 0 102px yellow,
    0 0 151px yellow;
  }

h3{
font-size: 30px;
text-align: center;
font-family: sans-serif ;
color: white;
margin-top: 70px;
}

.win{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 10%;
}
